.home_container {
                
                display: flex;
                flex-wrap: wrap;
                
                }
.home_wrap {max-width:400px;position:relative;margin:0.5%;box-sizing: border-box;}
.home_wrap img {border-radius: 20px;width:250px;height:250px;}

.like {position:absolute;top:0;right:20px;font-size:30px;cursor: pointer;border:0; background-color:transparent;}
.home_text {margin-top:5px;}

.home_left {float: left;width:70%;}
.home_left div {margin: 2px 0;}
.home_left strong {text-overflow: ellipsis;}

.home_text span {float: right;}