* {padding:0; margin:0; list-style: none;}
a {text-decoration: none; color:black;}

header {font-size: 14px;width:100vw;
}

.header_wrap {
         border-bottom : 1px solid #dbdbdb;
        padding : 5px 30px 5px;
             
}

.header {
        
        display:flex;
        padding : 3px 30px;
        justify-content: space-between;
 
       
        }
.logo {
      width: 33.333333333333333%;
      font-size: 25px;
      }
.logo a {display: inline-block;
         line-height: 80px;
        }
        
.logo a img {vertical-align: middle;}
.logo a span {
             color : #ff385c;
             font-weight : bold;
            }
.search { border:1px solid red;
        width: 33.333333333333333%;
        border:1px solid #dbdbdb;
        border-radius: 40px;
        height: 45px;
        width : 363px;
        margin-top:15px;
        }
.search:hover {box-shadow: 2px 2px 8px #d6d6d6;}
.search ul li {display: inline-block;
               margin-top:5px;
               flex:1;
               font-weight:bold;
              }

.search ul li a {
                /* border: 1px solid fuchsia; */
                overflow: hidden;
                vertical-align: middle;
                 line-height: 25px;
                  border-left: 1px solid #dbdbdb;
                  padding:0 17px;
                  height:25px;
                 display: inline-block;
                 text-overflow: ellipsis;
                 
                }

.search ul li:first-child a {border:0;}
.search ul li:nth-child(3) {font-weight:normal;}
.search button {
                background-color: #ff385c;
                border-radius: 50%;
                width : 30px;
                height: 30px; 
                border:0;
                cursor: pointer;
                right:0;
                }


/*search 온클릭 메뉴!!!!!!!*/

/* .searchOn { display: none;} */
.searchOn ul {line-height: 80px;}
.searchOn ul li {display:inline-block;
                 margin:0 15px;
                 padding:0 5px;
                 }
.searchOn ul li a:hover {border-bottom: 2px solid black;;}

/*search 온클릭 서치!!!!!!!*/
.search2_wrap {
        /* display: none; */
        width:50%;
        margin:0 auto;
        margin-bottom:13px;
        }
.search2 {border:1px solid #dbdbdb;
        border-radius: 45px;
        height:80px;
overflow:hidden;}
.search2 div {float:left;
              width:20%;
              height:80px;
              
        }
.search2 div:first-child {width:30%;}
.search2 div:last-child {width:30%;}
.search2 div:hover {background-color: #e6e6e6;
                    border-radius: 45px;
                    border:0;
}
.search2 div a{display: block;padding-top:20px;padding-left: 35px;padding-bottom:5px; font-size:12px;}
.search2 div input {margin-left: 35px;width:55%;border:0;font-size: 15px;background-color:transparent;}
.search2 div input:focus {outline:none;}
.btn {position: relative;}
.btn button {
             position:absolute;
             right:20px;
             top:13px;
             background-color: #ff385c;
             border:0;
             border-radius: 50%;
             width:55px;
             height:55px;
             cursor: pointer;
             }

/*search 온클릭 메뉴 1번 !!!!!!!*/
.search_menu1{position: relative; width:500px;
        z-index: 999;
             }
.search_menu1_wrap{position: absolute;
              top:10px;
              height:400px;
              padding:30px;
              background-color: white;
              box-shadow: 2px 2px 8px #d6d6d6;
              border-radius: 40px;
              }
.search_menu1 p {font-weight: bold;margin-bottom:20px;}
.search_menu1 .search_menu1_wrap div {float: left;padding:10px;cursor: pointer;}


.search_menu1 div img {border-radius: 20px;border:1px solid #d6d6d6;}
.search_menu1 span {display: block;}


/*////////////////////*/



.profile {  
            width: 33.333333333333333%;
            overflow: hidden;
            margin-top: 5px;
        }
.profile_wrap {float: right;}
.profile_wrap div {
            display: inline-block;
            margin-left:5px;
            padding:10px 10px;
            }
.profile_wrap .space {font-weight: bold;}
.profile_wrap .space:hover {
                            background-color: aliceblue;
                            border-radius: 40px;

                            }
.profile_wrap .earth {vertical-align: middle;}
.profile_wrap .earth:hover {
                        background-color: aliceblue;
                        border-radius: 50%;}
.profile_wrap button {
                        background-color: white;
                        border : 1px solid #dbdbdb;
                        width:80px;
                        height:45px;
                        line-height: 45px;
                        border-radius: 40px;
                        cursor: pointer;
                        
                    }
.profile_wrap button img {vertical-align: middle;}
.profile_wrap button:hover {box-shadow: 2px 2px 5px #d6d6d6;}
 
    


/* 내용 */

section { width:100vw;}
.container {
            width: 1850px;
            margin:0 auto;
        }